@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Common CSS */
:root {
  --heading-font: 'Manrope', sans-serif;
  --body-font: 'Plus Jakarta Sans', sans-serif;
  --heading-color: rgb(28, 28, 28);
}

body {
  font-family: var(--heading-font);
  background: rgb(255, 255, 255);
  font-size: 18px;
  color: rgb(119, 119, 119);
  line-height: 28px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5vw;
}
.bg-main {
  background: linear-gradient(to right, #ff8938, #ff0000);
}
.text-main {
  background: -webkit-linear-gradient(#ff8938, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-main-2 {
  background: linear-gradient(to bottom, rgb(230, 230, 230), #fff);
}

/* position absolute  */

.rating {
  bottom: 30px;
  left: 40px;
}

/* icon css */
.icon {
  line-height: 60px;
  font-size: 40px;
}

/* box  */

.box1 {
  width:93%;
  height: 25%;
  background: linear-gradient(to right, #85e9e3, #eeb28a);
  margin-bottom: 30px;

  
}

.box2 {
  width: 93%;
  height: 70%;
  background: linear-gradient(to right, #85e9e3, #d9d9d9);

  @media (max-width: 991.98px) { 
    img{
      width: 100px;
    }
   }
}

.box3 {
  width: 93%;
  height: 70%;
  margin-bottom: 30px;
  background: linear-gradient(to right, #85e9e3, #eeb28a);

  @media (max-width: 991.98px) { 
    img{
      width: 100px;
      padding: 50px 0 ;
    }
   }
}
.box4 {
  width: 93%;
  height: 25%;
  background: linear-gradient(to right, #85e9e3, #d9d9d9);
}

/* Meet Our Super css */

.margin-top {
  margin-top: 100px;
}

/* News & Events */

/* footer */
.footer-link {
  li {
    list-style: none;
  }
}
